/* ========= Tipografia responsiva ==========*/
@media screen and (max-width:992px) {
    :root {
        --h1-font-size: 1.75rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
    }
}

@media screen and (max-width:1200px) {
    .customize-theme .card {
        width: 50vw;
    }
}

@media only screen and (max-width:968px) {

    .about-content,
    .about-img {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-img {
        text-align: center;
        margin-bottom: var(--m-2-5);
    }

    .services .service-item {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: var(--m-2-5);
    }

    .customize-theme .card {
        width: 58vw;
    }
}

@media only screen and (max-width:768px) {
    body {
        margin: var(--header-height) 0 0 0;
    }

    .container {
        max-width: 568px;
    }

    .nav {
        height: var(--header-height);
    }

    .nav-list {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .nav-menu {
        position: fixed;
        background: var(--color-white);
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        z-index: 100;
        transition: .3s;
    }

    /* mostrar menu */
    .show-menu {
        right: 0;
    }

    .nav-close,
    .nav-toggle {
        display: inline-flex;
    }

    .contact-data,
    .contact-form,
    .education,
    .experience,
    .services .service-item,
    .about-content .about-text,
    .about-content .skills {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* testar com as imagens para ver se funciona */
    .portfolio-item,
    .fact-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .about-content .about-text {
        margin-bottom: var(--m-1-5);
    }

    .contact-data,
    .education {
        margin-bottom: var(--m-2-5);
    }

    .customize-theme .card {
        width: 75vw;
    }
}

@media only screen and (max-width:576px) {
    .portfolio-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .portfolio-item-inner {
        max-width: 380px;
        margin: 0 auto;
    }

    .timeline {
        padding: 25px 20px;
    }

    .timeline .timeline-item {
        padding-left: 35px;
        padding-bottom: 20px;
    }

    .customize-theme .card {
        width: 96vw;
        padding: 1rem;
    }
}

@media only screen and (max-width:320px) {
    .fact-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}