
:root{
    --header-height: 3.5rem;

    /* cor */
    --primary-color-hue:352;
    --dark-color-lightness: 17%;
    --light-color-lightness: 92%;
    --white-color-lightness: 100%;
    
    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-dark: hsl(252,30%, var(--dark-color-lightness));

    /* fonte body */

    --body-font:'Ruby', sans-serif;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* font weight */
    --font-medium: 400;
    --font-semi-bold: 600;

    /* margem */
    /* --m--0-25: -0.25rem; trocado por não ter variável*/
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    /* --m--2-25: -2.25rem; trocado por não ter variável*/
    --m-2-5: 2.5rem;

    /* espaço das cartas */
    --card-padding:1.9rem 0.95rem;

    /* border radius */
    --border-radius: 1.25rem;
    
    /* box shadow */
    --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);

}
     /* box shadow */
     ::-webkit-scrollbar{
        width: 0.6rem;
        background: var(--color-white);
     }
     ::-webkit-scrollbar-thumb{
        background: var(--color-primary);
        border-radius: .5rem;
     }

